<h1>The team</h1>
<p>This website was created by a one man team.</p>
<p>Oleg, the developer of this site, is proud to welcome you to the site. I hope that you enjoy your stay.</p>
<p>This is my Pinterest clone, I'm customizing it as much as I can. It probably won't be very different from what it is like in Mattan's course.</p>